body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    height: 60px;
}
.title {
    margin-left: 80px;
}
nav ul {
    list-style: none;
    display: flex;
    gap:20px ;
    margin-left: -500px;
}
nav ul li a {
 text-decoration: none;
color: rgb(102, 72, 72);
text-transform: capitalize;
}
.img-container1 {
    height: 4vh;
    width: 2vw;
   
}
.myimage {
    height: 100%;
    width: 100%;
    border-radius: 300px;
}
.icon-img {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 60px;
}

.master-container {
    display: flex;
    margin: 25px 50px;
}
.container2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 30px;
    margin-top: 105px;
    width: 50vw;
    height: 50vh;
    
}
.img-container2{
height: 65vh;
width: 35vw;

}
.shoe-main{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.container1 {
display: flex;
gap: 8px;
margin-top: 20px;
justify-content: space-between;

}
.img-container3 {
    height:15vh ;
    width: 7.5vw;
}
.shoes {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.counter {
    display: flex;
    align-items: center;
}
.container3 {
display: flex;
justify-content: space-between;
width: 100%;
align-items: center;
margin-top: -15px;
}
.container4 {
    display: flex;
    gap: 15px;
    align-items: center;
}
.price {
    font-size: 20px;
    font-weight: bold;
}
.percent {
    background-color: rgb(167, 197, 122);
    padding: 2.5px;
    border-radius: 2px;
    font-size: 10px;
}
.fall-limited {
    margin: -5px 0;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}
.sneaker {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 200;
    color: rgb(129, 179, 54);
    letter-spacing: 0.5px;
}
.description {
    color: rgb(87, 69, 69);
    line-height: 1.5rem;
    width: 100%;
}
.price2 {
    text-decoration: line-through;
    color: rgb(109, 81, 81);
}
.minus, .add {
    outline: none;
    border: none;
    background-color: whitesmoke;
    font-size: 20px;
    color: orangered;
}
.minus {
    margin-left: 15px;
}
.add {
    margin-right: 15px;
}
.counter {
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    height: 35px;

}
.addtoCart {
    width: 100%;
    color: black;
    background-color: orange;
    outline: none;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}